.pixel {
    background-color: black;
    background: rgb(255, 155, 22);
    aspect-ratio: 1 / 1;
    flex: 1;
    opacity: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 
    aspect-ratio: 1 / 1;
    max-height: 500px;
    max-width: 500px;
    margin: auto;
    background: black;
}

body {
    text-align: center;
    padding: 8px;
}

#changeGrid {
    padding: 8px;
    margin: 4px;
}